<h1 *ngIf="isAddMode">Add Item</h1>
<h1 *ngIf="!isAddMode">Edit Item</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Item Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="price">Price</label>
            <input type="number" step="0.1" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Item price is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            
            <input type="checkbox" formControlName="discounted" [checked]="isDiscounted"/>  
            <label for="discounted">Discounted</label>

        </div>
        <div class="form-group col">
            <label for="discountPercentage">Discount Percentage</label>
            <input type="number" step="0.1" formControlName="discountPercentage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.discountPercentage.errors }" />
            <div *ngIf="submitted && f.discountPercentage.errors" class="invalid-feedback">
                <div *ngIf="f.discountPercentage.errors.required">Item discount percentage is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/items" class="btn btn-link">Cancel</a>
    </div>
</form>